* {
    font-family: Helvetica
}

.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 500px;
}

p {
    margin: 15px 15px;
}


.starting-screen {
    text-align: center;
}

.highscores-header {
    position: absolute;
    top: 15px;
    left: 15px;
}

header a {
    color: rgb(193, 33, 193);
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(123, 24, 123);
    border-radius: 5px;
    border: 0;
    padding: 20px;
}

button:hover {
    background-color:rgb(104, 25, 104)
}

.answers button {
    display: block;
}

.hide {
    display: none;
}

.options button {
    display: block;
    width: 300px;
    text-align: start;
    margin-left: 0;
}

.feedback {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: #fff;
    border-top: 2px solid grey;
}

#quiz-end p {
    margin-left: 0;
}

#quiz-end button {
        padding: 5px 15px; 
}
